<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ dinero | number }}</h1>
</div>

<button
  pButton
  type="button"
  label="Mostrar info"
  (click)="mostrarInfo()"
  icon="pi pi-info-circle"
  iconPos="right"
  class="p-button-help"
></button>

<p-card [header]="nombre | titlecase" subheader="Full-Stack Developer">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
  consequuntur error repudiandae numquam deserunt quisquam repellat libero
  asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
  neque quas!
</p-card>
